{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div id="banner-div">
        <h1>{{ application_name }}</h1>
        <p class="cent">
            Page last updated on <script type="text/javascript">document.write(document.lastModified)</script>
            Maintained by Rory, Mak and Flavio
            <br />
        </p>
        <hr class="deepline"/>
    </div>
    <div id="clear-div"></div>
{% endblock %}