{% block content %}
    <div class="page-content-div">
        <h2>{{ 'telemetry service' }}</h2>
        <ul>
            {% for item in telemetrydata %}
                <li>{{ item }}</li>
            {% else %}
                <li>No telemetry data found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}