{% extends 'banner.html.twig' %}
{% block content %}
    <div class="page-content-div">
        <h1 class="cent">Telemetry Service</h1>
        <fieldset class="cent">
          <ul>
              {{ keypaddata }}
          </ul>
          <br>
          <br>
          <ul>
              {{ switchdata }}
          </ul>
          <br>
          <br>
          <ul>
              {{ fandata }}
          </ul>
          <br>
          <br>
          <ul>
              {{ heaterdata }}
          </ul>
        </fieldset>
    </div>
{% endblock %}