{% extends 'banner.html.twig' %}
{% block content %}
    <div>
        <h1>Telemetry Service</h1>
        <fieldset class="cent">
            <ul>
                 {% for item in keypaddata %}
                    <p>{{ item }}</p>
                 {% else %}
                    <p>No telemetry data found.</p>
                {% endfor %}
            </ul>
            <br>
            <br>
            <ul>
                {% for item in switchdata %}
                    <p>{{ item }}</p>
                {% else %}
                    <p>No telemetry data found.</p>
                {% endfor %}
            </ul>
            <br>
            <br>
            <ul>
                {% for item in heaterdata %}
                    <p>{{ item }}</p>
                {% else %}
                    <p>No telemetry data found.</p>
                {% endfor %}
            </ul>
            <br>
            <br>
            <ul>
                {% for item in fandata %}
                    <p>{{ item }}</p>
                {% else %}
                    <p>No telemetry data found.</p>
                {% endfor %}
            </ul>
        </fieldset>
    </div>
{% endblock %}