{% block content %}
    <div class="page-content-div">
        <h2>{{ 'Telemetry access' }}</h2>
        <form action="{{ action }}" method="post">
            <fieldset>
                <legend>Download your Telemetry data</legend>
                <br>
                <input id="download" name="download" type="submit" value="{{ initial_input_box_value }}" size="30" maxlength="50">
            </fieldset>
        </form>
    </div>
{% endblock %}