{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h2>{{ page_heading_2 }}</h2>
        <br>
        <br>
        <form>
        <input class="" typr="" value="">
    </form>
    </div>
{% endblock %}