{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h1>{{ 'Telemetry Login Page' }}</h1>
        <h2 class="cent">Login to Telemetry service</h2>
        <fieldset class="cent">
            <form action="telemetrymain" method="get">
                        <label for="username">Enter username: </label>
                        <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                        <br><br>
                        <label for="password">Enter your password: </label>
                        <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                        <br><br>
                    <input id="loginUser" type="submit" value="Login">
            </form>
            <br> <br>
            <a href="registeruser">
                <button>Create an account</button>
            </a>
        </fieldset>
    </div>
{% endblock %}