{% extends 'banner.html.twig' %}
{% block content %}

    <style>
        .cent {
            text-align: center;
            margin: auto;
        }


        fieldset {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            border-radius: 10px;
            padding: 10px;
            margin-bottom: 20px;
        }

    </style>

    <div id="page-content-div">
        <h1 class="cent">send data</h1>
        <fieldset class="cent">
            <form action="postmessage" method="post">
                <br>
                <label for="senddata">Please input data to send: </label>
                <input id="senddata" name="senddata" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>
                <input type="submit" value="send data">
            </form>
        </fieldset>
    </div>
{% endblock %}